@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');
body {
    font-family: 'B612 Mono', monospace;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    height: 100vh;
    width: 100vw;
    grid-template-areas: " . header . " " . section . " " . footer . "
}

.login {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

header {
    display: flex;
    grid-area: header;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    grid-area: section;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    grid-area: footer;
    flex-direction: row-reverse;
    justify-content: center;
}

input,
button {
    size: 20px;
    font-size: 16px;
    border-radius: 5px;
}